body {
  margin: 0;
  font-family: Montserrat, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #20232A;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar{
  justify-content: center;
  display: flex;
  position: sticky;
  top: 0;
  width: 100vw;
  height: 7rem;
  background-color: #20232A;
  color: #fff;
}

a{
  text-decoration: none;
}

.nav-logo{
  text-align: center;
  padding-top: 1.5rem;
  width: 10%;
  background-color: #20232A;
}

.logo-first{
  font-size: 1.7rem;
  font-weight: 800;
  color: #61DAFB;
}

.logo-first:hover{
  color: #FDF200;
}

.logo-last{
 font-size: 1.7rem;
 font-weight: 800;
 color: #FF85EA;
}

.logo-last:hover{
 color: #FDF200;
}

.site-links{
  list-style-type: none;
  display: flex;
  margin: 0 100px;
}

.site-links li{
  justify-content: center;
  width: 150px;
  margin: 7px;
  border-radius: 5px;
  text-align: center;
  font-weight: 550;
  
}
.site-links li a{
  font-size: 1.4rem;
  line-height: 6rem;
  padding: 10px;
}

.site-links li a.project-link{
  color: white;
}
.site-links li a.project-link:hover{
  color: #FF85EA;
}
.site-links li a.project-link.active{
  color: #FF85EA;
  border-bottom: 5px solid #FF85EA;
}

.site-links li a.docs-link{
  color: white;
}
.site-links li a.docs-link:hover{
  color: #7B61F8;
}
.site-links li a.docs-link.active{
  color: #7B61F8;
  border-bottom: 5px solid #7B61F8;
}

.site-links li a.blogs-link{
  color: white;
}
.site-links li a.blogs-link:hover{
  color: #61DAFB;
}
.site-links li a.blogs-link.active{
  color: #61DAFB;
  border-bottom: 5px solid #61DAFB;
}

.site-links li a.about-link{
  color: white;
}
.site-links li a.about-link:hover{
  color: #FDF200;
}
.site-links li a.about-link.active{
  color: #FDF200;
  border-bottom: 5px solid #FDF200;
}

.social-links{
  list-style-type: none;
  display: flex;
  padding-top: 5px;
}
.social-link{
  padding: 2px;
  margin: 5px;
  width: 1em !important;
  color: #20232A !important;
  background-color: #00FECA;
  list-style-type: none;
  border: 2px #20232A solid;
  border-radius: 5px;
}
.social-link:hover{
  color:  #00feca !important;
  background-color: #20232A;
}

.main-section{
  height: 100vh;
  width: 100%;
  background-color: #ddd;
}

footer{
  margin: 0 auto;
  padding: 25px;
  display: block;
  text-align: center;
  color: white;
}
.footer-content{
  display: flex;
  justify-content: center;
}
.footer-section{
  margin: 40px 0;
  width: 25%;
}
.footer-links{
  list-style-type: none;
  text-align: center;
  padding: 0;
}
.footer-link{
  display:block;
  margin: 10px;
}
.footer-link a{
  font-size: 1.2rem;
  color: white;
}
footer p{
  margin: 0;
  color: white;
}
.footer-logo{
  margin: 5px;
}
